[submodule "deps/jitify"]
	path = deps/jitify
	url = https://github.com/RaduAlexandru/jitify.git
[submodule "deps/EasyCuda"]
	path = deps/EasyCuda
	url = https://github.com/RaduAlexandru/EasyCuda.git
